{%- assign oldest_stable_version = site.oldest_stable_version
  | default: site.latest_version_number -%}
{% if include.page_version_number < oldest_stable_version or
  include.page_version_number > site.latest_version_number %}
{%- if include.page_version_number > site.latest_version_number -%}
{%- capture wip_class -%}wip{%- endcapture -%}
{%- endif -%}
<div class="banner {{ wip_class }}">
  {%- assign page_path = page.url | split: '/' | slice: 2, 999 | join: '/' -%}
  {%- capture latest_url -%}
  v{{ site.latest_version_number }}/{{ page_path }}
  {%- endcapture -%}
  <a href="{{ latest_url | relative_url }}">
    <b>Hey!</b> These docs are for version {{ include.page_version_number }},
    {% if include.page_version_number > site.latest_version_number %}
    which is still under development.
    {% else %}
    which is no longer officially supported.
    {% endif %}
    Click here for the latest version, {{ site.latest_version_number }}!
  </a>
</div>
{% endif %}
