<div class="callout {{ include.type }}">
  {%- capture icon -%}
  {%- if include.type == 'success' -%}fa-check-square{%- endif -%}
  {%- if include.type == 'info' -%}fa-info-circle{%- endif -%}
  {%- if include.type == 'warning' -%}fa-exclamation-circle{%- endif -%}
  {%- if include.type == 'danger' -%}fa-exclamation-triangle{%- endif -%}
  {%- endcapture -%}
  <i class="fa {{ icon }}"></i>
  {% if include.title != '' %}
  <h3>{{ include.title }}</h3>
  {% endif %}
  {{ include.content | markdownify }}
</div>
