{%- capture pages -%}
{% if item.pages and item.top != true %}pages{% endif %}
{%- endcapture -%}
<ul id="{{ item.url }}" class="{{ pages }}">
  {%- for item in include.toc -%}
  {%- if item.top -%}
  <h3>{{ item.title }}</h3>
  {%- else -%}
  {%- capture v_url -%}
  v{{ include.version }}{{ include.path }}/{{ item.url }}
  {%- endcapture -%}
  {%- capture current -%}
  {%- if include.current contains v_url -%}current{%- endif -%}
  {%- endcapture -%}
  {%- capture parent -%}{%- if item.pages -%}parent{%- endif -%}{%- endcapture -%}
  <li id="{{ item.url }}-top" class="{{ parent }} {{ current }}">
    {%- if item.external -%}
    <a href="{{ item.url }}">{{ item.title }}
      <i class="fa fa-external-link-square"></i>
    </a>
    {%- else -%}
    <a class="{{ current }}" href="{{ v_url | relative_url }}">{{ item.title }}</a>
    {% if item.pages %}
    <i class="fa fa-chevron-right" onclick="
      document.getElementById('{{ item.url }}').classList.toggle('open');
      document.getElementById('{{ item.url }}-top').classList.toggle('open');
      localStorage.setItem('{{ item.url }}',
      localStorage.getItem('{{ item.url }}') == 'open' ? 'closed' : 'open');"></i>
    {%- else -%}
    {% assign parent_url = include.path | split: '/' | last %}
    <script>
      if (localStorage.getItem('{{ parent_url }}') == 'open') {
        if (document.getElementById('{{ parent_url }}')) {
          document.getElementById('{{ parent_url }}').classList.add('open');
        }
        if (document.getElementById('{{ parent_url }}-top')) {
          document.getElementById('{{ parent_url }}-top').classList.add('open');
        }
      } else {
        if ("{{ current }}" == "current") {
          localStorage.setItem('{{ parent_url }}', 'open');
        }
      }
    </script>
    {% endif %}
    {% endif %}
  </li>
  {%- endif -%}
  {% if item.pages %}
  {% capture path %}{{ include.path }}/{{ item.url }}{% endcapture %}
  {% include toc.html toc=item.pages path=path current=include.current
    version=include.version %}
  {% endif %}
  {%- endfor -%}
</ul>
