---
---

span.fb-button {
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

span.fb-circle-button {
  font-weight: bold;
	font-family: sans-serif;
  padding: 2px 6px;
  border-radius: 50%;
  white-space: nowrap;
}

span.fb-green {
  background: #6a4;
  border-bottom: 1px solid #371;
  color: #f4f4f4;
}

span.fb-purple {
  background: #a64d79;
  border-bottom: 1px solid #823c5f;
  color: #f4f4f4;
}

span.fb-red {
  background: #ee6666;
  border-bottom: 1px solid #fe0808;
  color: #f4f4f4;
}

span.fb-yellow {
  background: #fd6;
  border-bottom: 1px solid #b90;
  color: #434343;
}

span.fb-gray {
  background: #666;
  border-bottom: 1px solid #434343;
  color: #f4f4f4;
}

span.fb-orange {
  background: #fa0;
  border-bottom: 1px solid #e93;
  color: #434343;
}

span.fb-input {
  font-family: sans-serif;
  padding: 4px 7px;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 10px #b4b4b4;
  margin: 0 4px;
  padding-right: 12px;
  white-space: nowrap;
}

span.fb-tooltip {
  background: #5f5f5f;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
}

span.fb-step {
  border-radius: 2px;
  color: #434343;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 11px;
  white-space: nowrap;
}

span.fb-move-absolute {
  background: #a4c2f4;
}

span.fb-move-relative {
  background: #6a4;
}

span.fb-write-pin {
  background: #fa0;
}

span.fb-read-pin {
  background: #fd6;
}

span.fb-wait {
  background: #ca8;
}

span.fb-send-message {
  background: #e66;
}

span.fb-find-home {
  background: #a4c2f4;
}

span.fb-if-statement {
  background: #c68ed2;
}

span.fb-execute {
  background: #bcbcbc;
}

span.fb-run-farmware {
  background: #ebb;
}

span.fb-take-photo {
  background: #ebb;
}

.fb-peripheral-on {
    background: #6a4;
    padding: 3px 24px 3px 6px;
}

.fb-peripheral-off {
    background: #ee6666;
    padding: 3px 6px 3px 19px;
}

.fb-peripheral-unknown {
		background: #fd6;
    padding: 3px 45px 3px 0px;
}

.fb-peripheral-disabled {
		background: gray;
}

.fb-peripheral-on, .fb-peripheral-off, .fb-peripheral-unknown {
    color: #f4f4f4;
    border-bottom: 1px solid;
    border-radius: 10px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
}

.fb-peripheral-on:after {
    margin-left: 8px;
}

.fb-peripheral-off:before {
    margin-left: -17px;
}

.fb-peripheral-unknown:after {
    margin-left: 16px;
}

.fb-peripheral-on:after, .fb-peripheral-off:before, .fb-peripheral-unknown:after {
    content: "";
    position: absolute;
    margin-top: 6px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fff;
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,.03);
}
