<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{%- include head.html -%}

<body>
  {%- include hub_nav.html -%}

  {%- assign version_factor = site.version_factor | default: 1 -%}
  {%- assign page_version_number =
    page.url | split: '/' | slice: 1 | join: '' | slice: 1, 999
    | replace: '.', '' | to_integer | divided_by: version_factor
    | default: site.latest_version_number -%}
  {%- assign page_toc =
    site.data.toc | where: "version_number", page_version_number | first -%}

  {%- include doc_nav.html version_factor=version_factor
    page_version_number=page_version_number
    page_toc=page_toc -%}

  {%- include banner.html page_version_number=page_version_number -%}

  <div class="all">
    <div class="nav-toc">
      {% include toc.html toc=page_toc.contents current=page.url
        version=page_version_number %}
    </div>
    <div class="content">
      <header class="page-header" role="banner">
        <h1 class="page-name">{{ page.title | default: site.title }}</h1>
        <div class="page-description">{{ page.description | markdownify }}</div>
      </header>
      <main id="content" class="main-content" role="main">
        <h2 class="markdown-toc-header">Page Contents</h2>
        {{ content }}
        <footer class="site-footer"></footer>
      </main>
    </div>
  </div>

</body>

</html>
